<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3acfe">  <td>17/08/03 01:00:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProfileTest.doLogin()[pri:0, instance:com.pp.testcases.ProfileTest@1a052a00]">doLogin</td> 
  <td>main@380242442</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>17/08/03 01:01:43</td>   <td>45351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProfileTest.quit()[pri:0, instance:com.pp.testcases.ProfileTest@1a052a00]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@380242442</td>   <td></td> </tr>
</table>
